.small-comic-image {
  width: 20px;
  height: 60px;
  object-fit: cover;
}
.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item {
  width: 30%;
  text-align: center;
}
.search-bar {
  display: flex;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-bar input {
  width: 90vw;
  margin-right: 10px;
  padding: 5px;
}
.search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 10vw;
  padding: 5px;
}
