.small-comic-image {
  width: 20px;
  height: 60px;
  object-fit: cover;
}
.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item {
  width: 30%;
  text-align: center;
}
.search-bar {
  display: flex;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-bar input {
  width: 90vw;
  margin-right: 10px;
  padding: 5px;
}
.search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 10vw;
  padding: 5px;
}

.center-card-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  /* margin: 10px; */
}

.center-card-col li {
  width: 40vw;
}

.default-hero-item {
  padding: 4px;
  list-style-type: none;
}
.hero-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-details {
  font-size: medium;
  display: flex;
  justify-content: center;
}
.hero-details h3 {
  /* font-size: medium; */
  padding-top: 4px;
  font-size: medium;
  display: flex;
  justify-content: center;
}
